body{
    background-color: antiquewhite;
    font-family: "Chakra Petch", sans-serif;
    font-weight: 400;
    font-style: italic bold;
    padding: 3%;
}

h1{ 
    font-size: 40px;
    text-align: center;
    padding: 10px;
}

.headings{
    text-decoration: underline;
    text-align: center;
}

.update a{
    text-decoration: none;
    color: black;
    box-sizing: border-box;
} 


/* 

.insert{
    display: flex;
    text-align: right;
    text-decoration: none;
}

.headings{
    display: flex;
    justify-content: space-between;
    text-decoration: underline;
}

tr.filminfo{
    display: flex;
    justify-content: space-between;
    align-content: right;
}


} */